@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.my-scrollable-div {
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat {
  @apply flex flex-col gap-2 rounded-xl border border-gray-200 p-3;
}

.received {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f1f1f1;
  color: #222;
}

.sent {
  @apply bg-mainBlue;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}

.sentContainer {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message {
  @apply flex flex-col gap-2;
  font-size: medium;
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.p-panel {
  @apply flex flex-col gap-0;
}

.p-panel-header {
  @apply bg-white py-0 my-0;
}

.p-panel-content {
  @apply py-2;
}

.notifications {
  @apply grid grid-cols-3 gap-3 h-[75vh];
}

.notifications-left {
  @apply border border-gray-200 rounded-md p-4 h-full overflow-scroll no-scrollbar;
}

.notifications-right {
  @apply border border-gray-200 col-span-2 rounded-md p-4 h-full overflow-scroll no-scrollbar;
}

.sidebar-menu {
  @apply flex items-center p-2 rounded-lg text-white hover:bg-gray-800;
}
