@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Stack Sans Text", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.my-scrollable-div {
  overflow-y: scroll;
  overflow-x: hidden;
}

.received {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f1f1f1;
  color: #222;
}

.sent {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}

.sentContainer {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message {
  font-size: medium;
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.phone-input-container input {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 0.375rem;
  padding: 0.75rem;
}
